In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import math
from subprocess import check_output
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.cross_validation import train_test_split

In [4]:
# Read data
train = pd.read_table("./data/train.tsv")
test = pd.read_table("./data/test.tsv")
print(train.shape)
print(test.shape)

(1482535, 8)
(693359, 7)

In [15]:
train.head(2)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...

In [16]:
test.head(2)

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description
0,0,"Breast cancer ""I fight like a girl"" ring",1,Women/Jewelry/Rings,NaN,1,Size 7
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,Other/Office supplies/Shipping Supplies,NaN,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined..."

In [18]:
submission = pd.read_csv("./data/sample_submission.csv")
submission.head(3)

   test_id   price
0        0  26.738
1        1  26.738
2        2  26.738

In [26]:
# Data imputation
def dat_impute(dat):
    for column in dat:
        dat[column].fillna(value="missing", inplace=True)
        
dat_impute(train)
dat_impute(test)
train.head(2)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,missing,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...

In [32]:
test.dtypes

test_id               int64
name                 object
item_condition_id     int64
category_name        object
brand_name           object
shipping              int64
item_description     object
dtype: object

In [40]:
# Categorical encoding
def cat_encoder(dat1, dat2):
    #for column in dat1.select_dtypes(include=['category', 'object']):
    for column in ['category_name', 'brand_name']:
        le = LabelEncoder()
        le.fit(np.hstack([dat1[column], dat2[column]]))
        dat1[column] = le.transform(dat1[column])
        dat2[column] = le.transform(dat2[column])
        del le

cat_encoder(train,test)

In [41]:
train.head(2)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,829,5265,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,86,3889,52.0,0,This keyboard is in great condition and works ...