In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import math
from subprocess import check_output

In [3]:
print(check_output(['ls', './data/']).decode('utf8'))

sample_submission.csv
sample_submission.csv.7z
test.tsv
test.tsv.7z
train.tsv
train.tsv.7z

In [4]:
# Read data
train = pd.read_table("./data/train.tsv")
test = pd.read_table("./data/test.tsv")
print(train.shape)
print(test.shape)

(1482535, 8)
(693359, 7)

In [5]:
train.head(2)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...

In [6]:
test.head(2)

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description
0,0,"Breast cancer ""I fight like a girl"" ring",1,Women/Jewelry/Rings,NaN,1,Size 7
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,Other/Office supplies/Shipping Supplies,NaN,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined..."